html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

@import "layout.scss";
@import "header-navbar.scss";
@import "signin.scss";
@import "signup.scss";
